.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100vh;
  padding: 40px;
  gap: 64px;
  font-family: var(--font-pt-sans);
  main {
    margin-top: 1rem;
  }

  h2 {
    padding: 1rem 0;
    font-family: var(--font-figtree);
    font-weight: 400;
    font-size: 1.25rem;
  }
}

.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-figtree);
  h1 {
    text-align: left;
  }
  h2 {
    color: var(--newtonian);
    font-weight: 600;
  }
}

// .option {
// }

.level {
  // margin-bottom: 1rem;
  border-radius: 1.1rem;
  padding: 1rem;
  background-color: var(--button-background);
  // border-bottom: white 0.07rem solid;
  border: var(--button-background-alt) 0.2rem solid;

  h3 {
    display: flex;
    gap: 0.3rem;
    align-items: end;
    font-family: var(--font-figtree);
    font-size: 1.5rem;

    span {
      font-family: var(--font-pt-sans);
      font-weight: 400;
      font-style: italic;
      font-size: 1rem;
    }
  }
}

.after {
  margin-top: 1rem;
}
